/*Global Styles*/
img {
    display: block;
    margin: 0 auto;
    width: 30%;
}


#container img {
    
    width: 50%;
  
}


#container {
    background-color: #AABFBF;
    padding: 15px;
 

}



.classes {
    border: 2px solid  black;
    padding: 0%;
}





body {
    background-color: #0F1D26 ;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding: 30px;

}


h1,
h2,
h3 {
    text-align: center;
     font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: italic;
}

a{
    color: #0F1D26;
}

a:hover  {
    text-decoration: none;
}



/*Mobile Style*/
nav {
    
    padding: 0;
}


nav li{
    display: block;
}


nav ul{
    list-style-type: none;
    padding: 0%;
}

nav li a {
    display: block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #AABFBF;
    background-color: #0F1D26;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    margin: 5px 0;}

nav li a:hover {
    background-color: #5E728C;
}


header h1{
    font-size: 40px;
    text-align: center;
}





main{
    margin: 10px 0;
}


.cols
{
    border: 2px solid  black;
    padding: 10px;
}

.col{
    
    border: 2px solid  black;
    padding: 10px;

}



footer{
    padding: 40px 0;
}

/*Tablet styles*/
@media(min-width: 786px ) {

    nav li { 
        display: inline-block
    }

nav{
    text-align: center;
}



nav li a {
    width: 200px;
}

#lower{
    

width: 100%;
}

main img {
    width: 75%;
}


}

/*Desktop*/
@media (min-width:1024px) {

   
  
    




   
}
